# --- Python cache files ---
__pycache__/
*.py[cod]
*.pyo

# --- Virtual environment ---
venv/
env/

# --- Database files ---

*.db

# --- Logs, outputs, and temporary files ---
*.log

*.csv

# --- VS Code settings ---
.vscode/
